.App {
  text-align: center;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.from input
{
  width: 200px ;
  height: 50px;
  margin: 5px;
  font-size: 25px;
}

.form button{
  width: 100px;
  height: 45px;
  margin-top: auto;
}
.form button:hover{
  cursor: pointer;
}
.employee {
  width: auto;
  height: auto;
  border: 1px solid black;
  margin: 10px;
  display: flex;
  padding: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.employee h6 {
  margin: 13px;
}